SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_RESULTS_TABLE=quiz_personalidad_results

AZURE_PG_HOST=cvfinanzas.postgres.database.azure.com
AZURE_PG_USER=cvfinanzas
AZURE_PG_PASSWORD=your_password
AZURE_PG_DATABASE=postgres
AZURE_PG_PORT=5432
AZURE_PG_RESULTS_TABLE=quiz_personalidad_results
AZURE_PG_USERS_TABLE=usuarios
AZURE_PG_MONEX_TABLE=monex_tipo_cambio
# AZURE_PG_SSL_CA_PATH=certs/DigiCertGlobalRootCA.crt.pem

JWT_SECRET='W^cO&i]!Vhwg*_5'
AUTH_TOKEN_TTL=8h
